language: node_js
node_js:
  - node

before_install:
  - npm install --global npm@latest
install:
  - npm ci

cache:
  directories:
    - "$HOME/.npm"

script:
  - npm run lint || travis_terminate 1

  - npm run build:prod || travis_terminate 1

  - npm run test -- hippo --browsers ChromeHeadlessNoSandbox || travis_terminate 1
  - npm run test -- angular --browsers ChromeHeadlessNoSandbox || travis_terminate 1
  - npm run test -- example --browsers ChromeHeadlessNoSandbox || travis_terminate 1

  - "sed -i \"s/chromeOptions:.*/chromeOptions: { args: ['--headless', '--no-sandbox'] },/g\" example/e2e/protractor.conf.js"
  - npm run e2e || travis_terminate 1

before_deploy:
  - echo "//registry.npmjs.org/:_authToken=$NPM_AUTH_TOKEN" >> "$HOME/.npmrc"
  - cp README.md dist/hippo
  - cp README.md dist/angular

  - cd dist/hippo
  - npm publish --access public

  - cd ../angular
  - npm publish --access public
deploy:
  provider: script
  skip_cleanup: true
  on:
    tags: true
